In [28]:
from sklearn import datasets
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

digits = datasets.load_digits()

In [5]:
df = pd.DataFrame(digits.data)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [8]:
df.shape

(1797, 64)

In [21]:
scaler = StandardScaler()
X = digits.data
y = digits.target
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, stratify=y, random_state=38)

In [ ]:
scoring_metrics = ["accuracy", "precision", "recall", "f1"]

In [ ]:
model_params = {
    'random_forest_classifier': {
        'model': RandomForestClassifier(ForestClassifier),
        'params': {
            'n_estimators': [100,200],
            'max_depth': [None, 10, 20],
            'class_weight': ['balanced']
        }
    },
    'logistic_regression' : {
        'model': LogisticRegression(solver='liblinear', class_weight='balanced'),
        'params': {
            'C': [0.1, 1, 10]
        }
    },
    'gausiann_NB': {
        'model': GaussianNB(),
        'params': {
            'var_smoothing': [1e-09, 1e-08, 1e-07]
        }
    },
    'decision_tree_classifier': {
        'model':

In [22]:
scores = []
for model_name, mp in model_params.items():
    clf = GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(iris.data, iris.target)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })

NameError: name 'model_params' is not defined

In [24]:
multinomial_params = {
        'model': MultinomialNB(),
        'params': {
            'alpha': [0.1, 0.5, 1.0],
            'fit_prior': [True, False]
        }
}

In [29]:
mn_scores=[]
clf = GridSearchCV(multinomial_params['model'], multinomial_params['params'], cv=5, return_train_score=False)
clf.fit(digits.data, digits.target)
mn_scores.append({
    'model': 'MultinomialNB',
    'best_score': clf.best_score_,
    'best_params': clf.best_params_
})

In [30]:
print(mn_scores)

[{'model': 'MultinomialNB', 'best_score': np.float64(0.87090683998762), 'best_params': {'alpha': 0.1, 'fit_prior': True}}]

In [31]:
df_mn = pd.DataFrame(mn_scores, columns=['model', 'best_score', 'best_params'])
df_mn

           model  best_score                        best_params
0  MultinomialNB    0.870907  {'alpha': 0.1, 'fit_prior': True}